*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Staatliches', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: #1d273b;
    font-weight: 300;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 25px;
}

/* Header */
header::before{
    content: "";
    display: block;
    margin-bottom: 150px;
}

nav{
    width: 100%;
    height: 120px;
    background: #ffba00;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    /*transition: ease-in-out 0.5s;*/
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo{
    height: 150px;
}

.nav .logo img{
    height: 100%;
}

.enlaces-header{
    font-weight: 300;
}

.nav .enlaces-header a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px; 
}

.hamburger{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}

.hamburger > i{
    font-size: 25px;
    line-height: 150px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Primer contenedor*/

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img{
    width: 550px;
    animation: ease-in animat .5s;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-header{
    margin: 0 0 0 30px;
}

.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.contenido-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #2570ff;
    text-align: center;
    color: #ffffff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 130, 222, .46);
}

.titulo{
    font-size: 50px;
}

/* Categoria */

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #U5 {background-color: #2e2efe;}
  #U7 {background-color: #00aee4;}
  #U9 {background-color: #009900;}
  #U12 {background-color: #ffbb00;}
  #U15 {background-color: orange;} 

  .tabcontent>img{
      width: 250px;

  }

/* About us*/

.about-us{
    background: #f2f2f2;
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;

}

.articulo{
    width: 29%;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i{
    font-size: 30px;
    color: #fff;
    background: #2574ff;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 130, 222, .46);
}

.articulo>h3{
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover{
    color: #2570ff;
    transition: color .5s;
}

/* Maps Ubicacion */

.maps-contenedor{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maps-contenedor>img{
    width: 550px;
}

.textos-maps{
    margin: 0 0 0 30px;
}

.textos-maps p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.textos-maps a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #2570ff;
    text-align: center;
    color: #ffffff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 130, 222, .46);
}

.titulo{
    font-size: 50px;
}

/* Footer */

footer{
    background: #437dcc;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter h5{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.partFooter img{
    width: 70%;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color: #000000;
}

.maps-icon i{
    font-size: 20px;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.maps-icon i:hover{
    color: #fff;
    background-color: #5d6678;
    border-color: #5d6678;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #5d6678;
    border-color: #5d6678;
}

/* Breakpoints responsive*/

@media screen and (max-width:800px){
    
}