@media(max-width: 992px){
    .carousel{
        margin-top: 10%;
    }
    .carousel-image{
        height: 550px!important;
    }
}
@media(max-width: 768px){
    .carousel{
        margin-top: 15%;
    }
    .carousel-image{
        height: 500px!important;
    }
}
@media(max-width: 544px){
    .carousel{
        margin-top: 20%;
    }
    .carousel-image{
         height: 450px!important;
     }
}
@media(max-width: 335px){
    .carousel{
        margin-top: 25%;
    }
    .carousel-image{
        height: 400px!important;
    }
    .padded{
        width: 125vw;
    }
}
section#contact{
    background-size: cover;
    background-image: url("../assets/img/futbol.jpg");
}